<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scoreboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/shared.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <style>
        .clickable {
            cursor: pointer;
            font-weight: bold;
            color: darkblue;
        }

            .clickable:hover {
                color: orange;
            }

            .clickable:active {
                color: darkorange;
            }

        .scoreIncrease {
            color: green;
        }

        .scoreDecrease {
            color: red;
        }

        .scoreHold {
            color: black;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container pad0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--@Html.ActionLink("Current Scoreboard", "BritishOpen_2014", "Home", null, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse pad0">
                <ul class="nav navbar-nav">
                    <li class="nav_theopen nav_item">@Html.ActionLink(" ", "PGAChampionship_2014", "Home")</li>
                    <li class="nav_theopen nav_item">@Html.ActionLink(" ", "BritishOpen_2014", "Home")</li>
                    <li class="nav_usopen nav_item">@Html.ActionLink(" ", "USO_2014", "Home")</li>
                    <li class="nav_masters nav_item">@Html.ActionLink(" ", "Masters_2014", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div ng-app="scoreboardApp" ng-controller="ScoreboardCtrl">
            <!--h2>@Html.Raw(ViewBag.Title)</h2-->
            <h3 class="main_tabs">
                <span ng-click="showPlayerRankings = false; setPlayerSort('default');" class="clickable list_tab" ng-class="{ selected_tab: !showPlayerRankings }">Our Rankings</span>
                <span ng-click="showPlayerRankings = true; setPlayerSort('default');" class="clickable list_tab" ng-class="{ selected_tab: showPlayerRankings }">Player Rankings</span>
            </h3>
            <h4 class="timer_refresh">Refreshing in {{refresh}}</h4>
            <table ng-show="showPlayerRankings" class="player_rankings">
                <tr>
                    <td class="clickable header" ng-click="setPlayerSort('pos')">Pos <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'pos' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'pos' && playerReverse" /></td>
                    <td class="clickable header" ng-click="setPlayerSort('lName')">Player <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'lName' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'lName' && playerReverse" /></td>
                    <td class="clickable header" ng-click="setPlayerSort('scoreKey')">Score <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'scoreKey' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'scoreKey' && playerReverse" /></td>
                    <td class="clickable header" ng-click="setPlayerSort('todayKey')">Today <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'todayKey' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'todayKey' && playerReverse" /></td>
                    <td class="clickable header" ng-click="setPlayerSort('thru')">Thru <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'thru' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'thru' && playerReverse" /></td>
                    <td class="clickable header" ng-click="setPlayerSort('pickedBy')">Picked By <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'pickedBy' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'pickedBy' && playerReverse" /></td>
                </tr>
                <tr ng-repeat="player in scores.player | orderBy:playerPredicate:playerReverse" ng-class="player.status">
                    <td class="col-md-1">{{player.pos}}</td>
                    <td class="col-md-2">{{player.fName}} {{player.lName}}</td>
                    <td class="col-md-1">{{player.score}}</td>
                    <td class="col-md-1">{{player.today}}</td>
                    <td class="col-md-1">{{player.thru}}</td>
                    <td class="col-md-4">{{player.pickedBy}}</td>
                </tr>
            </table>
            <div ng-hide="showPlayerRankings" style="margin-left:32px; margin-bottom: 6px;">
                <span class="clickable" ng-click="setExpanded(false)">Collapse All</span> | 
                <span class="clickable" ng-click="setExpanded(true)">Expand All</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-hide="!cutPenalty" ng-click="showPenalty=!showPenalty; refresh=0;" class="clickable">Toggle Penalty</span>
            </div>

            <ul ng-hide="showPlayerRankings">
                <li ng-repeat="person in shenanigans | orderBy:personPredicate:personReverse" style="list-style:none">
                    <div class="clickable" ng-click="person.expanded = !person.expanded"><span class="col-md-2">{{person.name}}</span><span class="col-md-2">{{person.score}}</span><span class="col-md-2">({{getDelta(person)}} today)</span><span ng-hide="!cutPenalty">({{person.cutPenalty}} Penalty)</span><br/></div>
                    <table ng-show="person.expanded" class="submission_rankings">
                        <tr>
                            <td class="col-md-1"></td>
                            <td class="clickable header" ng-click="setPlayerSort('tier')"><strong>Tier</strong> <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'tier' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'tier' && playerReverse" /></td>
                            <td class="clickable header" ng-click="setPlayerSort('name')"><strong>Player</strong> <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'name' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'name' && playerReverse" /></td>
                            <td class="clickable header" ng-click="setPlayerSort('scoreKey')"><strong>Score</strong> <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'scoreKey' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'scoreKey' && playerReverse" /></td>
                            <td class="clickable header" ng-click="setPlayerSort('todayKey')"><strong>Today</strong> <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'todayKey' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'todayKey' && playerReverse" /></td>
                            <td class="clickable header" ng-click="setPlayerSort('thru')"><strong>Thru</strong> <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'thru' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'thru' && playerReverse" /></td>
                            <td class="clickable header" ng-click="setPlayerSort('cutPenalty')"><strong ng-hide="!cutPenalty">Pen</strong> <img src="../images/icon_arrow_up.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'cutPenalty' && !playerReverse" /><img src="../images/icon_arrow_down.png" alt="" class="sort_arrow" ng-if="playerPredicate == 'cutPenalty' && playerReverse" /></td>
                        </tr>
                        <tr ng-repeat="pick in person.picks | orderBy:playerPredicate:playerReverse" ng-class="pick.status">
                            <td class="col-md-1"></td>
                            <td>{{pick.tier}}</td>
                            <td style="width: 40%;">{{pick.name}}</td>
                            <td class="col-md-2">{{pick.score}}</td>
                            <td class="col-md-2">{{pick.today}}</td>
                            <td class="col-md-2">{{pick.thru}}</td>
                            <td>{{pick.cutPenalty}}</td>
                        </tr>
                    </table>
                </li>
            </ul>
            <div ng-hide="!cutPenalty">
                <hr />
                <div><strong>Projected Cut: </strong> +{{cutLine}}</div>
                <div><strong>Projected Cut Penalty: </strong>{{cutPenalty}} Per Day</div>
                <div><strong>Total Score: </strong>{{totalScore}}</div>
                <div><strong>Avg Score: </strong>{{avgScore}}</div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Slabs Scoreboard</p>
        </footer>
    </div>

</body>
</html>
